footer
  .container.text-center
    p.float-left © 2019 Acorn Talent. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/AcornTalent/acorntalent') GitHub Project
      li.list-inline-item
        a(href='https://github.com/AcornTalent/acorntalent/issues') Issues
